@charset "UTF-8";

.SentrySearch-search {
  font-family: "Comic Sans MS" "Comic Sans";
}
.SentrySearch-search h6 {
  color: #804000 !important;
}
.SentrySearch-search input {
  font-family: "Comic Sans MS" "Comic Sans";
}